{% comment %}
  Renders a list of product's price (regular, sale)
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false

  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif

  assign is_product_page = false
  if template contains 'product'
    assign is_product_page = true
  endif

  assign has_selling_plan = false
  if product.selling_plan_groups.size > 0
    assign has_selling_plan = true
    for group in product.selling_plan_groups
      for plan in group.selling_plans
        if plan.name contains 'Pre-order'
          assign has_selling_plan = false
        endif
      endfor
    endfor    
  endif

  assign hide_price = false
  if is_product_page and has_selling_plan and show_for_selling_plan == false
    assign hide_price = true
  endif

  if product.tags contains 'show-price-block'
    assign hide_price = false
  endif

-%}

{%- liquid
  assign apply_member_pricing = true

  if collection_handles
    if collection_handles contains 'coming-soon'
      assign apply_member_pricing = false
    endif
  endif

  if product.tags contains 'lp-discount-exclusion'
    assign apply_member_pricing = false
  endif

  if product.quantity_price_breaks_configured?
    assign apply_member_pricing = false
  endif
-%}

{%- liquid
  if apply_member_pricing and customer
    assign member_tags = "lp-standard,lp-auto,lp-flexi,lp-20,lp-30" | split: ","
    assign member_discounts = "0.90,0.85,0.90,0.80,0.70" | split: ","

    assign matched_discount = blank
    for t in member_tags
      if customer.tags contains t
        assign matched_discount = member_discounts[forloop.index0]
        break
      endif
    endfor

    if matched_discount != blank
      assign base_price = price
      if compare_at_price and compare_at_price > price
        assign base_price = compare_at_price
      endif

      assign member_price = base_price | times: matched_discount
      assign member_price = member_price | round: 0

      assign compare_at_price = base_price
      assign price = member_price

      assign money_price = price | money
      if settings.currency_code_enabled
        assign money_price = price | money_with_currency
      endif
    endif
  endif
-%}

{%- unless target == null and placeholder == null -%}
  <div
    class="
      price
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
      {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
      {%- if show_badges %} price--show-badge{% endif -%}
      {%- if hide_price %} hidden{% endif -%}  
    "
  >
    <div class="price__container">
      <div class="price__regular">
        {%- if product.quantity_price_breaks_configured? -%}
          {%- if show_compare_at_price and compare_at_price -%}
            {%- unless product.price_varies == false and product.compare_at_price_varies -%}
              <span class="visually-hidden visually-hidden--inline">
                {{- 'products.product.price.regular_price' | t -}}
              </span>
              <span>
                <s class="price-item price-item--regular variant-item__old-price">
                  {% if settings.currency_code_enabled %}
                    {{ compare_at_price | money_with_currency }}
                  {% else %}
                    {{ compare_at_price | money }}
                  {% endif %}
                </s>
              </span>
            {%- endunless -%}
          {%- endif -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{-
              'products.product.volume_pricing.price_range'
              | t: minimum: money_price_min, maximum: money_price_max
            -}}
          </span>
        {%- else -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{ money_price }}
          </span>
        {%- endif -%}
      </div>

      <div class="price__sale">
        {%- unless product.price_varies == false and product.compare_at_price_varies -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span>
            <s class="price-item price-item--regular">
              {% if settings.currency_code_enabled %}
                {{ compare_at_price | money_with_currency }}
              {% else %}
                {{ compare_at_price | money }}
              {% endif %}
            </s>
          </span>
        {%- endunless -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
        <span class="price-item price-item--sale price-item--last">
          {{ money_price }}
        </span>
      </div>

      {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
        {% render 'unit-price', price: product.selected_or_first_available_variant.unit_price, measurement: product.selected_or_first_available_variant.unit_price_measurement %}
      {%- endif -%}
    </div>

    {%- if show_badges -%}
      <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
        {{ 'products.product.on_sale' | t }}
      </span>
      <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
        {{ 'products.product.sold_out' | t }}
      </span>
    {%- endif -%}
  </div>
{% endunless %}